@using M426_TicTacToe.Models.ViewModels
@using M426_TicTacToe.Enums
@model IEnumerable<GameViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<h1>M426 TicTacToe</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>For more options, look at the navigation bar.</p>
    if (Model.Where(x => x.Player2 == null && x.Player1 != User.Identity.Name).Count() > 0)
    {
        <p>Join a game:</p>
    }
    else
    {
        <p>No joinable game available.</p>
    }
    <div class="text-center GamePreviewList">
        @foreach (var game in Model)
        {
            if (game.Player2 == null && game.Player1 != User.Identity.Name)
            {
                <div>
                    <p>@game.Player1's game</p>
                    <table>
                        @for (int i = 0; i < 3; i++)
                        {
                            <tr>
                                @for (int j = 0; j < 3; j++)
                                {
                                    <td>
                                        <button class="GamePreviewButton" disabled>
                                            @switch (game.Board[i * 3 + j])
                                            {
                                                case FieldState.player1:
                                                    @Html.Raw("X");
                                                    break;
                                                case FieldState.player2:
                                                    @Html.Raw("O");
                                                    break;
                                                default:
                                                    @Html.Raw("&#160;");
                                                    break;
                                            }
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </table>

                    <button onclick="@("window.location.href='" + @Url.Action("Game", "Game", new { game.Id }) + "'");">Join game!</button>
                </div>
            }
        }
    </div>
}
else
{
    <p>Please log in and look at the Navigation Bar.</p>
}

